.postContainer {
  margin-right: 0;
  /* border: 1px solid black; */
}

.roleBand {
  width: 5px;
  /* height: 10px; */
  background-color: red;
  margin-block: 15px; /* flex: 1; */
}

.answerContainer {
  /* flex: 1; */
  /* border: 1px solid black; */
  margin-block: 15px;
  border-radius: 5px;
  box-shadow: #00000026 2px 1px 5px;
  /* padding: 20px; */
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.role {
  background-color: red;
}

.headerContainer {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightContainer {
  margin-right: 10px;
}

.leftContainer {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
}
.user {
  /* border: 1px solid black; */
  display: flex;
  gap: 10px;
}

.profilePicContainer {
  display: flex;
  align-items: center;
  padding-left: 4px;
}
.profilePic {
  height: 40px;
  width: 40px;
  border-radius: 400px;
}

.userName {
  font-size: 17px;
  font-weight: 700;
}
.postDate {
  font-size: 13px;
  font-weight: 500;
  color: #808080;
}

.attachementContainer {
  padding-inline: 20px;
  margin-block: 10px;
}

.postAttachement {
  width: auto;
}
.interactions {
  display: flex;
  gap: 15px;
  margin-left: 10px;
}

.interaction {
  display: flex;
  align-items: center;
  gap: 5px;
}

.interactionCount {
  margin: 0;
  padding: 0;
}

.interactionIcon,
.interactionCount {
  font-size: 16px;
  color: #808080;
}
